@use './variables' as *;


// Typografie-Klassen

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text);
  line-height: $line-height-tight;
  font-weight: $font-weight-bold;
}

h1 { font-size: $font-size-4xl; }
h2 { font-size: $font-size-3xl; }
h3 { font-size: $font-size-2xl; }
h4 { font-size: $font-size-xl; }
h5 { font-size: $font-size-lg; }
h6 { font-size: $font-size-md; }

p {
  color: var(--color-text);
  font-size: $font-size-md;
  line-height: $line-height-base;
}

.text-muted {
  color: var(--color-text-muted);
  font-size: $font-size-sm;
}

.text-primary {
  color: var(--color-primary);
}